
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family:'Poppins', sans-serif;
}

.app{
  display: flex;
  position:relative;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background:#888;
}
::-webkit-scrollbar-track:hover{
  background: #555;
}

.LoginPage-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
}

.LoginPage-form {
  width: 810px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.LoginPage-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.LoginPage-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}